<% if (config.data.homepage) { %>

  <h1>your homepage will eventually be <%= config.data.homepage %></h1>

<% } else { %>

  <%- partial('_partial/archive', {pagination: 2, index: true}) %>

<% } %>
